<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Séries da Netflix</title>
</head>
<body>
<h1>Lista de séries da Netflix</h1>
<hr>
<table>
    <thead>
    <th>Nome</th>
    <th>Ano</th>
    </thead>
    <tbody>
    <tr th:each="series:${series}">
        <td th:text="${series.nome}">
            nome
        </td>
        <td th:text="${series.ano}">
            ano
        </td>
    </tr>
    </tbody>
</table>
<hr>
</body>
</html>